(1) What is cloud computing ?
Ans:- Cloud computing means storing and accesing data and programs over the 
       internet instead of your computers hard drive.

(2) Deployment Model in cloud ?
Ans:- 
